/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 1, 2019, 6:05:06 PM
    Author     : johnson
*/

$theme-color: #0A2090;//#BB0F8E;
$theme-color-light:#EAEDFF;//#FCEFF9;
$theme-color-heavy:#040F46;//#690f33;
$active-color:#002AFF;
$primary-color:#fff;
$secondary-color:rgba(0, 0, 0, 1);
$tertiary-color:#fbfbfb;//rgba(235, 235, 235, 1);
$background-color:aliceblue;
$opacity: 0.87;
$drop-shadow:rgba(0, 0, 0, 0.2);
$section-height:700px;
$section-font-size:60px;
$section-line-height:90px;
$section-font-weight: 900;
$breakpoint-sm:767px;
$breakpoint-md:991px;
$breakpoint-lg:1200px;
$border-radius:4px;
$font-family-title:"Playfair Display", serif;
$font-family-text:$font-family-title;

@import "mixins.scss";
@import "gallery.scss";


/***************SECTION*********/

.section {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 8;
    position: relative;
    margin: 0px;
    min-height: $section-height;

    .row {
        margin-top: 0%;
        margin-bottom: 0%;
    }

    @media (max-width: $breakpoint-sm) {
        min-height: $section-height - 100px;
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        min-height: $section-height - 200px;
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        min-height: $section-height - 300px;
    }
}
.section-img{
    width:100%;
    height:auto;
    border: 10px;
    border-radius: $border-radius;
    @include card();
    transition: all 1.5s ease;
    &:hover {
        box-shadow: 0 0 32px #333;
    }

}
.section-title {
    @include font-title();
    position: relative;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    overflow: hidden;
    a{
        text-decoration: none;
        color: $secondary-color;
    }
    @media (max-width: $breakpoint-sm) {
        @include font-title-sm();
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        @include font-title-ls();
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        @include font-title-md();
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-title-lg();
    }
}

.section-sub-title {
    @include font-title(2);
    position: relative;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    overflow: hidden;
    font-weight: $section-font-weight;
    a{
        text-decoration: none;
        color: $secondary-color;
    }
    @media (max-width: $breakpoint-sm) {
        @include font-title-sm(1.5);
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        @include font-title-ls(2);
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        @include font-title-md(2);
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-title-lg(2);
    }
}

.section-text {
    $mb: 60px;
    @include font-text();
    margin-bottom: $mb;
    margin-top: 8px;
    a{
        text-decoration: none;
    }
    @media (max-width: $breakpoint-sm) {
        @include font-text-sm();
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        margin-bottom: $mb/1.875;
        @include font-text-ls();
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        margin-bottom: $mb/1.875;
        @include font-text-md();
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-text-lg();
    }
}

.figure-caption {
    $mb: 0px;
    @include font-text();
    margin-bottom: $mb;

    a{
        text-decoration: none;
    }
    @media (max-width: $breakpoint-sm) {
        @include font-text-sm();
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        margin-bottom: $mb/1.875;
        @include font-text-ls();
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        margin-bottom: $mb/1.875;
        @include font-text-md();
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-text-lg();
    }
}


.before-theme-light {
    &::before {
        @include before($theme-color-light);
    }
}

.before-tertiary {
    &::before {
        @include before($tertiary-color);
    }
}

.secondary-text {
    color: $secondary-color;
}

.primary-text {
    color: $primary-color;
}
.quote{
    font-style: italic;
    padding-left: 32px;
    a{
        text-decoration: none;
    }
}

/***************SECTION*********/


/***************GENERAL*********/
html,
body {
    background-color: $tertiary-color;
    color: $secondary-color;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.091em;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    margin: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

hr {
    color: $primary-color;
}

@media (max-width: $breakpoint-sm) {
    .hide-small {
        display: none;
    }

}

@media (max-width: $breakpoint-sm) and (orientation: landscape) {
    .hide-small {
        display: none;
    }
}

@media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
    .hide-medium {
        display: none;
    }
}

@media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
    .hide-large {
        display: none;
    }

}

@media (min-width: $breakpoint-lg+1px) {
    .hide-large {
        display: none;
    }
}

.hide-all,.hidden {
    display: none;
}

input,textarea{
    width: 100% !important;
    margin-top: 10px!important;
    border-radius: $border-radius !important;
}

label{
    width: 100% !important;        
    color: $theme-color;
}

form{
    .col{
        margin: 5px;
    }

}
.text-center{
    text-align: center;
}
.message{
    text-align: center;
}
.error{
    color: $primary-color;
    background-color: $theme-color-heavy;
}
.success{
    color: $primary-color;
    background-color: $theme-color;
}
.login{
    background-color: $theme-color-light;
}

.ul{
    li{
        margin-left: 32px;
        &:before {
            content: '\f00c';
            font-family: 'FontAwesome';
            color: $theme-color;
            font-size: 11px;
            font-weight: 300;
            padding-right: 8px;
        }
    }

}
p{
    i{
        margin-right: 13px;
    }
}

.bg-theme{
    background-color: $theme-color;
}
.bg-theme-light{
    background-color: $theme-color-light;
}

.bg-theme-heavy{
    background-color: $theme-color-heavy;
}
.bg-theme-tertiary{
    background-color: $tertiary-color;
}
/***************END GENERAL*********/


/***************NAVIGATION*********/
header {
    display: block;

    &:before {
        box-sizing: border-box;
        top: 0;
    }

    &:after {
        box-sizing: border-box;
    }
}

.nav-bar {
    text-align: center;
    background-color: transparent;
    z-index: 999;
    position: absolute;
    width: 100%;
    padding-top: 20px;

    hr {

        @media (max-width: $breakpoint-sm) {
            margin-left: 24px;
            margin-right: 0px;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;

        li {
            float: left;

            a {
                @include dropbtn();

                &:hover {
                    color: $active-color;
                }
            }

            .dropdown {
                display: inline-block;
            }
        }
    }
    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        margin-bottom: 40px;
    }

}

ul {
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $theme-color-light;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $drop-shadow;
    border-radius: $border-radius;
    @include transition(0.6s);

    a {
        color: $secondary-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-bottom: 1px $theme-color solid;

        &:hover {
            color: $theme-color;
            @include transition(0.6s);
        }

    }

    @media (max-width: $breakpoint-sm) {
        float: left;
        position: relative;
    }
}

.dropdown {
    &:hover {
        color: $theme-color;

        .dropbtn {
            color: $theme-color;
        }

        .dropdown-content {
            display: block;
        }
    }
}


.dropbtn {
    @include dropbtn();
}

.active {
    color: $active-color !important;
}


.brand {
    width: 25%;
    text-transform: capitalize;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    font-size: $section-font-size /4;
    font-weight: ($section-font-weight / 3);
    margin-top: 1%;

    @media (max-width: $breakpoint-sm) {
        @include font-text-sm();
        width: 80%;
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        width: 90%;
        @include font-text-ls();
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        width: 90%;
        @include font-text-md();
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-text-lg();
    }

}

.navigation {
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: center;
    @include font-text();

    @media (max-width: $breakpoint-sm) {
        display: none;
        @include font-text-sm();
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        display: none;
        @include font-text-md();
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        @include font-text-lg();
    }
}

.menuButton {
    color: $primary-color;
    @include font-text-md();
    border: 1px $primary-color solid;
    height: 40px;
    float: right;
    border-radius: $border-radius;
    display: none;
    width: 20%;


    @media (max-width: $breakpoint-sm) {
        display: block;
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        width: 10%;
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        display: block;
        width: 10%;
    }
}


/***************END NAVIGATION*********/


/***************HEADER BANNER*********/
.logo{
    background-color: $background-color;
    opacity: $opacity + 0.1;
    $border-radius:$border-radius;
    @media (max-width: $breakpoint-sm) {
        height: 100px;
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        height: 150px;
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        height: 170px;   
    }
    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        height: 250px;   
    }
}
.no-webp .header-img {
    @include header-img("../img/banner/home",".jpg");
}
.no-js .header-img {
    @include header-img("../img/banner/home",".jpg");
}

.webp .header-img {
    @include header-img("../img/banner/home",".webp");
}


.header {
    @include header(0.9);
}
.header-general {
    @include header(1.4);
}

.no-webp .header-general-img {
    @include header-img("../img/banner/home",".jpg");
}
.no-js .header-general-img {
    @include header-img("../img/banner/home",".jpg");
}

.webp .header-general-img {
    @include header-img("../img/banner/home",".webp");
}


/***************END HEADER BANNER*********/


/***************BUTTONS*********/

.button {
    @include button($theme-color,$primary-color,$theme-color-light,$theme-color);
}

.button-light {
    @include button($theme-color-light,$theme-color,$theme-color,$primary-color);
}

.button-info {
    @include button($tertiary-color,$secondary-color,$theme-color,$primary-color);
}
.button-danger {
    @include button($theme-color-heavy,$primary-color,$theme-color,$primary-color);
}
.button-success {
    @include button($secondary-color,$primary-color,$theme-color,$primary-color);
}

.button-outline {
    border-color: $primary-color;
    border-spacing: 10px;
    border-style: solid;
    border-width: 1px;
}

.button-block{
    width:100%;
    margin-top: 16px;
}
/***************END BUTTONS*********/

/***************DONATE*********/
.no-webp .donate {
    @include donate("../img/donate/donate",".png");
}

.no-js .donate {
    @include donate("../img/donate/donate",".png");
}

.webp .donate {
    @include donate("../img/donate/donate",".webp");
}

.donate-overlay {
    background-color: $theme-color;
    width: 50%;
    min-height: ($section-height / 2);
    border-radius: $border-radius;
    opacity: $opacity;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: flex-start;

    .section-title,
    .section-text {
        margin: 0px;
    }

    .row {
        text-align: center;
    }

    .section-text {
        padding: 20px;
    }

    @media (max-width: $breakpoint-sm) {
        width: 80%;
        min-height: ($section-height / 2.0);
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        width: 80%;
        height: ($section-height / 2.2);
    }

    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        width: 80%;
        height: ($section-height / 2.2);
    }

    @media (min-width: $breakpoint-md+1px) and (max-width: $breakpoint-lg) {
        width: 70%;
        height: ($section-height / 2.2);
    }
}

/***************END DONATE*********/

/***************CONTACT*********/
footer {
    @include gradient(-180deg, $theme-color, $theme-color-light);
    margin: 0px;
    padding-top: 10px;
    display: block;

    a {
        color: $tertiary-color;
        text-decoration: none;

        &:hover {
            color: $active-color;
        }
    }
    @media (max-width: $breakpoint-sm) {
        @include gradient(35deg, $theme-color, $theme-color-light);
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        @include gradient(35deg, $theme-color, $theme-color-light);
    }
    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        @include gradient(35deg, $theme-color, $theme-color-light);
    }
}

.footer-title {
    color: $primary-color;
    margin: 0px;
    @include font-title-sm();

    @media (max-width: $breakpoint-sm) {
        @include font-text-md();
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        @include font-text-md();
    }
}

.footer-text {
    color: $tertiary-color;
    margin: 0px;
}

.footer-img {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

.designed-by {
    float: right;

    a {
        text-decoration: none;
        cursor: pointer;
        color: $primary-color;
    }
}

.copy {
    color: $secondary-color;
    text-align: center;
    @media (max-width: $breakpoint-sm) {
        color: $tertiary-color;
    }

    @media (max-width: $breakpoint-sm) and (orientation: landscape) {
        color: $tertiary-color;
    }
    @media (min-width: $breakpoint-sm+1px) and (max-width: $breakpoint-md) {
        color: $tertiary-color;
    }
}



/***************END CONTACT*********/

/***************MAP*********/
.map {
    height: $section-height /2;
    width: 100%;
    border:0;
    background-color: $theme-color-light;
}

/***************END MAP*********/
